@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 35px;
  font-size: 16px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

header {
  background-color: #F0EFE9;
  padding: 16 16 16 0px;
  position: relative;
  z-index: 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .menu {
    display: block;
  }
}
header .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 8px;
  align-items: center;
}
@media (min-width: 1200px) {
  header .menu .top-menu {
    justify-content: space-between;
  }
}
header .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .menu .top-menu .contact-information {
    display: flex;
  }
}
header .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .menu .top-menu .contact-information .content-box i {
  font-size: 1.2em;
  margin-right: 5px;
}
header .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .menu .top-menu .social-media a:hover {
  color: #7c7c7c;
}
header .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
  font-size: 16px;
}
header .menu .main-menu nav a.active {
  font-weight: 500;
}
header .menu .main-menu nav a.active::after, header .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}
header .intro {
  display: flex;
  justify-content: center;
}
header .intro .links {
  padding-top: 100px;
  padding-bottom: 20px;
}
header .intro .links a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin: 7px;
  position: relative;
}
header .intro .links a.active {
  font-weight: 500;
}
header .intro .links a.active::after, header .intro .links a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .connect {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
header .connect h1 {
  z-index: 1;
}
header .connect .background-lines {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  display: block;
}

.call-sites .container {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}
.call-sites .container .icons {
  margin-left: 60px;
  display: block;
}
.call-sites .container .text-information {
  margin-left: 25px;
}
.call-sites .container .visit-us {
  justify-content: start;
  border: 1px solid #F0EFE9;
  width: 420px;
  padding-top: 45px;
}
.call-sites .container .call-us {
  justify-content: start;
  border: 1px solid #F0EFE9;
  width: 420px;
  padding-top: 45px;
}
.call-sites .container .email-us {
  justify-content: start;
  border: 1px solid #F0EFE9;
  width: 420px;
  padding-top: 45px;
}