@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body {
    color: #191919; 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 35px;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #ffffff;
        border: 1px solid #191919;
        color: #191919;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

header {
    background-color: #F0EFE9;
    padding: 16 16 16 0px;
    position: relative;
    z-index: 0;   

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;
        padding: 16px;

        
        .dropbtn {
            padding: 16px;
            font-size: 16px;
            border: none;

            i {
                color: #000000;
            }
        }
        
        
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #DAD9D3;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            right: 1px;
            
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        
        .dropdown-content a:hover {text-decoration: underline;}
        
        .dropdown:hover .dropdown-content {display: block;}
        
       
        

        .menu-bars {
            font-size: 25px;
            border: none;
            background-color: transparent;

            @media (min-width: 992px){
                display: none;
            }
        }
    }

        .menu {
            display: none;
            flex: 1;

            @media (min-width: 992px){
                display: block;
            }        
            
            .top-menu {
                display: flex;
                justify-content: flex-end;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 8px;
                align-items: center;

                @media (min-width: 1200px) {
                    justify-content: space-between;
                }

                .contact-information {
                    display: none;
                    align-items: center;
                    
                    @media (min-width: 1200px) {
                        display: flex;
                    }
                    
                    .content-box {
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;

                        i {
                            font-size: 1.2em;
                            margin-right: 5px;
                            
                        }

                        &.last  {
                            border: none;
                        }

                    }
                }

                .social-media {
                    
                    a {
                        color: #191919; 
                        font-size: 1.3rem;
                        margin-left: 10px;

                        &:hover {
                            color: #7c7c7c;
                        }
                    }
                }

            }

            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
                

                nav {
                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;
                        font-size: 16px;

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            content: "";
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }                       
                    }
                }

                .btn-login {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }

    .intro {
        
        display: flex;
        justify-content: center;
        
        .links {
            padding-top: 100px;
            padding-bottom: 20px;

            a {
                
                display: inline-block;
                color: #191919;
                text-decoration: none;
                margin: 7px;
                position: relative;

                &:hover {
                    font-weight: 500;
                }
                

                &.active {
                    font-weight: 500;
                }

                &.active::after,

                &:hover::after {
                    content: "";
                    position: absolute;
                    font-weight: 500;
                    height: 2px;
                    width: 15px;
                    left: 50%;
                    bottom: -3px;
                    transform: translate((calc(50% - 15px)));
                }                       
            }
           
            

            
        }
       
    } 
    
    .connect {
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        
        h1 {
            z-index: 1;
         
        }

        .background-lines {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 0;   
            display: block;
        }
    

        
    }
    

}

.call-sites {
    .container {
        display: flex;
        justify-content: center;
        margin-top: 110px;
        padding: 0px;
        
        display: none;
        @media (min-width: 992px){
            display: flex;
        }        

        .icons {
            margin-left: 60px;
            display: block;
        }

        .text-information {
            margin-left: 25px;
        }
        
        .visit-us {
            justify-content: start;
            border: 1px solid #F0EFE9;
            width: 420px;
            padding-top: 45px;
            padding-bottom: 50px;
            margin-left: 0px;
            
            
        }

        .call-us {
            justify-content: start;
            border: 1px solid #F0EFE9;
            width: 420px;
            padding-top: 45px;
            padding-bottom: 50px;
        }

        .email-us {
            justify-content: start;
            border: 1px solid #F0EFE9;
            width: 420px;
            padding-top: 45px;
            padding-bottom: 50px;
            margin-right: 0px;
        }

    }
}

.information {

    .background {
        background-color: #F0EFE9;
        margin-top: 60px;
        padding-top: 140px;
        padding-bottom:  100px;
        margin-bottom: 120px;
        
        
        .headline {
            text-align: center;
            
            
        }


    }

    .message-boxes {
        
        display: block;
        
        

        form {
            margin: 0 auto;
            margin-top: 10px;
            width: 80%;
           
            
        }
        
        input {
            
            width: 100%;
            padding: 12px;
            border-radius: 25px;
            border: none;

            
            
        }
        .your-message {
            border: 1px solid black;
            padding-bottom: 160px;
            
            
            
        }
        

    }

    .btn-yellow {
        display: block;
        margin: 0 auto;
        margin-top: 45px;
        width: 80%;
        text-align: center;
    }

}

.map {
    width: 100%;
}

.footer {
    background-color: #0E1021  ;
    padding-top: 100px;
    padding-bottom: 90px;
    position: relative;
    z-index: 0;
    border-bottom: 1px solid #444443;

    display: none;
    
    @media (min-width: 768px){
        display: flex;
        
    }       

    .wavy-lines-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: transparent;
    }

    .footer-container {
        display: flex;
        justify-content: space-evenly;
        color: #ffffff;
        

        a {
            
            
            display: block;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
            color: #ffffff;
            margin-bottom: 10px;

           

            &:hover {
                text-decoration: underline;
                color: #DAD9D3;
            }      

        }

        h3 {
            font-family: 'DM Sans', sans-serif;
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 40px;
            margin-top: 7px;
        }

        .crito {
            
            width: 40%;
            p {
                margin-right: 20%;
                margin-top: 30px;
            }
        }
       

        .company {
            
            width: 15%;
            margin-left: 20px;

        }

        .help {
            
            width: 15%;
            margin-left: 20px;

        }

        .resources {
            
            width: 15%;
            margin-left: 20px;
       
        }

        .link {
            
            width: 15%;
            margin-left: 20px;
            
        }
    }

}

.icons-and-copyright {
    background-color: #0E1021;
    color: #ffffff;

    
    
    .copyright {
        display: flex;
        justify-content: space-between;
        padding-top: 35px;
        padding-bottom: 15px;
    }

    a {
        color: #ffffff; 
    font-size: 1.3rem;
    margin-left: 10px;

    &:hover {
        color: #7c7c7c;
    }

    }
   
}