@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body {
    color: #191919; 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #ffffff;
        border: 1px solid #191919;
        color: #191919;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.section-title {
    padding-top: 70px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
        
    }

    p {
        color: #F94D1C;
        font-size: 18px;
        font-family: 'Inter';
        margin-bottom: 10px;
    }

    h2 {
        color: #191919;
        font-size: 45px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    background-color: #F0EFE9;
    padding: 16px;
    

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;

        .menu-bars {
            font-size: 25px;
            border: none;
            background-color: transparent;

            @media (min-width: 992px){
                display: none;
            }
        }
    }

        .menu {
            display: none;
            flex: 1;

            @media (min-width: 992px){
                display: block;
            }        
            
            .top-menu {
                display: flex;
                justify-content: flex-end;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 8px;
                align-items: center;

                @media (min-width: 1200px) {
                    justify-content: space-between;
                }

                .contact-information {
                    display: none;
                    align-items: center;
                    
                    @media (min-width: 1200px) {
                        display: flex;
                    }
                    
                    .content-box {
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;

                        i {
                            font-size: 1.2em;
                            margin-right: 5px;
                            
                        }

                        &.last  {
                            border: none;
                        }

                    }
                }

                .social-media {
                    
                    a {
                        color: #191919; 
                        font-size: 1.3rem;
                        margin-left: 10px;

                        &:hover {
                            color: #7c7c7c;
                        }
                    }
                }

            }

            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;

                nav {
                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            content: "";
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }                       
                    }
                }

                .btn-login {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
}

.paperz-collum {
    .container {
      
        display: none;

        @media (min-width: 768px){
            display: block;

        .paperz {
                 
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 76px;
            color: #100f0f;

            }
          

        }
    }
}


.showcase {
    background-color: #F0EFE9;


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-size: 40px;
                font-weight: 700;

                
                @media (min-width: 768px) {
                    font-size: 70px;
                }
                
                @media (min-width: 1400px) {
                    font-size: 86px;
                }

            }

            p {
                font-size: 18px;
                padding-top: 35px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
                
            }

            a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    margin-right: 10px;
                    display: inline-block;
                }
                
              
            }

        }

        img {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }

        }

    }

}

.project-and-case {
    .container {


        .section-title {
            text-align: center;

        }

        .project-and-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            .project {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration: none;

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;

                }

                .readmore {
                    padding: 15px;
                    display: block;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #191919;

                    i {
                        margin-left: 3px;
                    }
                }
                &:hover .readmore {
                    text-decoration: underline;
                }                
            }
        }
        .center-content {
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }
}


.fetures {
    .container {
      
        .grid-template {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: "accounting business-advice startup-business"
                                 "accounting financal-advice risk-managment"  ;
            
            text-align: center;
            border: 1px solid black;
            padding-top: 300px;


        }

    }
}