@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body {
    color: #191919; 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 35px;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #ffffff;
        border: 1px solid #191919;
        color: #191919;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.section-title {
    padding-top: 70px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
        
    }

    p {
        color: #F94D1C;
        font-size: 18px;
        font-family: 'Inter';
        margin-bottom: 10px;
    }

    h2 {
        color: #191919;
        font-size: 45px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.browse-services {
    align-items: center;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 35px;
    font-size: 16px;
    margin-top: 45px;

        i {
            margin-left: 10px;
        }

        &:hover {
            background-color: #191919;
            border: 1px solid #F9D783;
            color: #ffffff;
            
            
        }   
}


header {
    background-color: #F0EFE9;
    padding: 16px;
    

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;

       
        .dropbtn {
            
            color: #000000;
            padding: 16px;
            font-size: 16px;
            border: none;

            i {
                color: #000000;
            }
        }
        
        
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #DAD9D3;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            right: 1px;
        }
        
       
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-content a:hover { text-decoration: underline;}
    
        .dropdown:hover .dropdown-content {display: block;}
        

        .menu-bars {
            font-size: 25px;
            border: none;
            background-color: transparent;

            @media (min-width: 992px){
                display: none;
            }
        }
    }

        .menu {
            display: none;
            flex: 1;

            @media (min-width: 992px){
                display: block;
            }        
            
            .top-menu {
                display: flex;
                justify-content: flex-end;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 8px;
                align-items: center;

                @media (min-width: 1200px) {
                    justify-content: space-between;
                }

                .contact-information {
                    display: none;
                    align-items: center;
                    
                    @media (min-width: 1200px) {
                        display: flex;
                    }
                    
                    .content-box {
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;

                        i {
                            font-size: 1.2em;
                            margin-right: 5px;
                            
                        }

                        &.last  {
                            border: none;
                        }

                    }
                }

                .social-media {
                    
                    a {
                        color: #191919; 
                        font-size: 1.3rem;
                        margin-left: 10px;

                        &:hover {
                            color: #7c7c7c;
                        }
                    }
                }

            }

            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;

                nav {
                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            content: "";
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }                       
                    }
                }

                .btn-login {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
}

.paperz-collum {
    .container {
      
        display: none;

        @media (min-width: 992px){
            display: block;

        .paperz {
                 
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 76px;
            margin-bottom: 76px;
            color: #100f0f;
            margin-left: 40px;
            margin-right: 40px;
            }
        }
    }
}



.fetures {
    border: 2px solid #F0EFE9;
    margin-top: 60px;
    
    @media (min-width: 992px) {
        margin-right: 20px;
        margin-left: 20px;
        
        padding-left: 30px;
        padding-bottom: 60px;
    }

    @media (min-width: 1450px) {
        margin-right: 5%;
        margin-left: 5%;
    
    }

    @media (min-width: 1750px) {
        margin-right: 12%;
        margin-left: 12%;
    
    }
    

    .features-grid {

        display: grid;


        grid-template-areas:
          "menu menu menu menu "
          'header header main main '
          'header header main main '
          "footer footer right right "
          "footer footer right right ";
       

          

        .item1 { grid-area: header; }
        .item2 { grid-area: menu; }
        .item3 { grid-area: main; }
        .item4 { grid-area: right; }
        .item5 { grid-area: footer; }
        .item6 { grid-area: button; }

        @media (min-width: 992px) {
            display: grid;


    
        
        grid-template-areas:
          'menu menu  header main '
          'menu menu  header main '
          "menu menu  footer right "
          "menu menu  footer right ";
        
        
        background-color:    #ffffff ;
       
        padding-top: 60px;
        padding-bottom: 60px;
        border-spacing: 60px;    
        
    
        
        }
        
        div {
            
            text-align: left;
            padding: 10px 0px;
            font-size: 30px;
        }
    
    
        img {
            margin-bottom: 20px;
            margin-top: 20px;
        }
    
    
    
        h2 {
            font-size: 22px;
            font-family: "DM Sans" , sans-serif;
            font-weight: 700;
            margin-bottom: 20px;
            padding-right: 50px;
        }
    
    
        h4 {
            font-size: 16px;
            padding-right: 50px;
            font-weight: 300;
            margin-right: 30px;
        }
    
        .item2 {
            padding-right: 20%;

            .headline-grid {
                @media (max-width: 992px) {
                    padding: 0px;
                }
                
            }
    
            
    
            h4 {
                font-family: 'Inter';
                font-size: 18px;
                color: #F94D1C;
                margin-bottom: 30px;
            }
    
            h2 {
                font-size: 45px;
                
            }
    
            button {
                margin-top: -30px;
                border: 1px solid #000000;
                margin-right: 40px;            
            }   
        }
    }    
}
  

.about-company {
    
    .container {
        display: flex;
        margin-top: 110px;
        

        .samantha {
            position: relative;
            
            display: none;


            @media (min-width: 1200px) {
                display: block;
            }
            

            .samantha-blue{
                border: 1px solid black;
                width: 368px;
                height: 180px;
                
                
                left: -56px;
                top: -220px;
                position: relative;
                background-color: #BEEBFF;
                
                h3 {
                    margin-top: 30px;
                    font-size: 20px;
                    font-weight: 700;
                    font-family: 'Dm Sans', sans-serif;
                    margin-left: 25px;
                    
                    
                    .founder {
                        color: #F94D1C;
                    }

                }

                h4 {
                    font-weight: 300;
                    font-size: 16px;
                    margin-left: 25px;
                }
            }
        }


        .about {


            @media (min-width: 1200px) {
                margin-left: 200px;
                
            }
           
            
            h3 {
                color: #F94D1C;
                font-size: 18px;
                font-weight: 400;

            }

            h2 {
                margin-top: 25px;
                font-size: 45px;
                font-weight: 700;
                font-family: 'DM Sans' sans-serif;

            }

            h4 {
                margin-top: 25px;
                font-size: 16px;
                font-weight: 300;
                

            }

            p {
                margin-top: 150px;
                display: inline-block;
            }

            .intro {
                margin-left: 15px;
                font-size: 16px;
                font-weight: 600;
            }

            .btn-round {
                
                margin-left: 40px;
                border-radius: 50%;
                background-color: #ffffff;
                border: 1px solid #191919 ;
                width: 58px;
                height: 58px;
                text-align: center;
                padding: 16px;
                margin-bottom: 60px;

                @media (min-width: 1200px) {
                    margin-bottom: 0px;
                }
                
                
                &:hover {
                    background-color: #191919;
                    border: 1px solid #191919;
                    color: #F0EFE9;
                }
            }
        }
    }
}


.our-services {
    background-color: #F0EFE9;
    padding: 60px;

    @media (min-width: 700px) {
        padding: 120px;
    }
    z-index: auto;
    position: relative;

    .headline {
        
        .top-headline {
            
            h3 {
                font-family: 'Inter';
                font-size: 18px;
                color: #F94D1C;
                margin-bottom: 25px;
                
            }

            h2 {
                margin-top: 25px;
                font-size: 45px;
                font-weight: 700;
                font-family: 'DM Sans' sans-serif;
                
                @media (min-width: 1550px) {
                    margin-right: 60%;
                }
            }
        }

        .content-boxes {

            @media (min-width: 792px) {
                display: grid;
                grid-template-columns: 1fr 1fr;

                
            }
            
            @media (min-width: 1385px) {
                display: flex;
                margin-top: 20px;
                gap: 30px;    
            }
         
            margin-top: 20px;
            gap: 30px;

            .circle-arrow {
                border: none;
               
                @media (min-width: 1385px) {
                    margin-left: 80%;
                    margin-top: 20px;
                    
                }


                font-size: 45px;
                background-color: transparent;

                &:hover {
                    background-color: transparent;
                    border: none;
                    color: #F0EFE9;
                    
                }      
            }
            

            .linje {
                border: 2px solid black;
                background-color: #000000;
                font-weight: 700;
                width: 39px;
            }
            
            .business-box {
                background-color: #ffffff;
                border: 1px solid #ffffff;
                border-width: 30px;
                margin-top: 20px;

                &:hover {
                    background-color: #F9D783;
                    border: 1px solid #F9D783;
                    
                    border-width: 30px;
                    margin-top: 20px;
                }
            }

            .startup-box {
                background-color: #ffffff;
                border: 1px solid #ffffff;
                border-width: 30px;
                margin-top: 20px;
                
                &:hover {
                    background-color: #F9D783;
                    border: 1px solid #F9D783;
                    
                    border-width: 30px;
                    margin-top: 20px;
                }
            }

            .financial-box {
                background-color: #ffffff;
                border: 1px solid #ffffff;
                border-width: 30px;
                margin-top: 20px;

                &:hover {
                    background-color: #F9D783;
                    border: 1px solid #F9D783;
                    
                    border-width: 30px;
                    margin-top: 20px;
                }
            }

            .risk-box {
                background-color: #ffffff;
                border: 1px solid #ffffff;
                border-width: 30px;
                margin-top: 20px;

                &:hover {
                    background-color: #F9D783;
                    border: 1px solid #F9D783;
                    
                    border-width: 30px;
                    margin-top: 20px;
                }  
            }
        }

        .browse {
            display: flex;
            justify-content: center;
            
            .browse-services{
                z-index: 2;
            }
        }
    }

    .wavy-lines-middle{
        position: absolute;
        bottom: 50px; 
        right: 0;
        bottom: 0;
        z-index: 1;   
    }
}

.why-choose-us {
    z-index: auto;
    position: relative;

    .gray-box {

        display: none;
        @media (min-width: 1400px) {
            display: block;
            position: absolute;
        display: inline-flex;  
        width: 70%;
        height: 425px;
        background-color: #F0EFE9;
        z-index: 1;       
        bottom: 0;
        right: 0;
            
        }
    }

    .parent {

        display: none;
        
        @media (min-width: 1200px) {
            display: block;
            margin-top: 30%;
        }
        
        @media (min-width: 1400px) {
            display: block;
            z-index: 2;
        margin-top: 60px;
        margin-left: auto;
            
        }
             
    }  
    .container {
        
        display: flex;  
        font-family: 'DM Sans' sans-serif;
        margin-top: 50px;
    
        .headline {
            z-index: 1;
            width: 600px;
            background-color: #ffffff;


            h3 {
                font-family: 'Inter';
                font-size: 18px;
                color: #F94D1C;
                margin-bottom: 25px;
                
            }

            h2 {
                padding-right: 100px;
                font-size: 45px;
                font-weight: 700;
                margin-bottom: 0px;

            }

            .image-text {
               
                padding: 0px;
                
                .icons {
                    margin-right: 0px;
                    border-radius: 50%;
                    background-color: #ffffff;
                    border: 1px solid #F0EFE9 ;
                    width: 70px;
                    height: 70px;
                    text-align: center;
                    padding: 12px; 
                }

                h4 {
                    font-size: 22px;
                    font-weight: 700;
                    margin-left: 15px;
                    
    
                    p {
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 300;
                        margin-top: 10px;
                        
                    }  
                }
            }
        }
    }
}



.showcase {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .background-lines {
        position: absolute;
        bottom: 0;
        z-index: -1;
        left: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-size: 40px;
                font-weight: 700;

                
                @media (min-width: 768px) {
                    font-size: 70px;
                }
                
                @media (min-width: 1400px) {
                    font-size: 86px;
                }

            }

            p {
                font-size: 18px;
                padding-top: 35px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
                
            }

            a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    margin-right: 10px;
                    display: inline-block;
                } 
            }
        }

        img {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
}


.project-and-case {
    .container {

        .section-title {
            text-align: center;
        }

        .project-and-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            .project {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration: none;

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                }

                .readmore {
                    padding: 15px;
                    display: block;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #191919;

                    i {
                        margin-left: 3px;
                    }
                }
                &:hover .readmore {
                    text-decoration: underline;
                }                
            }
        }
        .center-content {
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }
}


.meet-our-team {
    background-color: #F0D082;
    padding-top: 110px;
    border: 2px solid #F0EFE9;
    padding-bottom: 110px;
    

    .background-yellow {

        .dots {
            display: flex;
            justify-content: center;
            margin-top: 60px;
            margin-bottom: 60px;
         
        }


        .experience-team {
            
            h3 {
                font-family: 'Inter';
                font-size: 18px;
                color: #F94D1C;
                margin-bottom: 25px;
                
            }

            h2 {

                @media (min-width: 440px) {
                    display: flex;
                    justify-content: space-between;
                }

                .btn-yellow {
                    white-space: nowrap;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    @media (min-width: 438) {
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                }

                @media (min-width: 728px) {
                    display: flex;
                    justify-content: space-between;
                }
                
                @media (min-width: 992px) {
                    display: flex;
                    font-size: 45px;
                    font-weight: 700;
                    margin-bottom: 100px;
                }
                
                .btn-yellow {

                    border: 1px solid #191919;   
                }
            }        
        }

        .personell-pictures {
            display: flex;

            @media (min-width: 768px) {
                justify-content: space-between;
            }
            
            
                justify-content: center;
                align-items: center;

            #mark {
                display: none;
                @media (min-width: 620px) {
                    display: block;
                }
            }

            #kimberly {
                display: none;
                @media (min-width: 992px) {
                    display: block;
                }
            }
            
            
            #justin {
                display: none;
                @media (min-width: 1368px) {
                    display: block;
                }

            }
         

            .first-last-name {
                margin-top: 30px;
                
                h4 {
                font-size: 22px;
                font-family: "DM Sans" , sans-serif;
                font-weight: 700;
                }

                p {
                    font-family: 'Inter';
                    font-size: 18px;

                }
            }
            
        }

        .testimonial {

            border: 2px solid #ffffff;
            background-color: #ffffff;
    
            @media (min-width: 992px) {
                margin-right: 20px;
                margin-left: 20px;
                
                padding-left: 30px;
                padding-bottom: 60px;
            }
        
            @media (min-width: 1450px) {
                margin-right: 5%;
                margin-left: 5%;
            
            }
        
            @media (min-width: 1750px) {
                margin-right: 12%;
                margin-left: 12%;
            
            }


            #amanda {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }

            #jack {
                display: none;
                @media (min-width: 1200px) {
                    display: block;
                }
            }

            
           

            .red-headline {
                
                background-color: #ffffff;
                
                
                p {
                    display: flex;
                    justify-content: center;
                    font-family: 'Inter';
                    font-size: 18px;
                    color: #F94D1C;
                    margin-bottom: 25px;
                    margin-top: 125px;

                }

                h2 {
                    display: flex;
                    justify-content: center;
                    font-size: 45px;
                    font-weight: 700;
                    margin-bottom: 100px;

                }
                
            }

            .rating-from-google {
                display: flex;
                justify-content: space-between;
                
                
                .rating-text {
                    margin-right: 100px;
                    margin-top: 25px;
                }

                .personal-intro {
                    
                    display: inline-flex;


                    h4 {
                        margin-top: 30px;
                        margin-left: 15px;
                        font-size: 22px;
                        font-family: "DM Sans" , sans-serif;
                        font-weight: 700;

                        p {
                            margin-top: 5px;
                            font-family: 'Inter';
                            font-size: 18px;
                            color: #F94D1C;
                            font-weight: 300;
                        }
                        

                    }
                   
                   
                }

            
                
            }

            .all-reviews {
                display: flex;
                justify-content: center;
                margin-top: 90px;
                margin-bottom: 120px;
      
            }

        }
    
    }
    
}

.article-and-news {

    .headline {

        h3 {
            font-family: 'Inter';
            font-size: 18px;
            color: #F94D1C;
            margin-bottom: 25px;
            margin-top: 125px;

        }
        
        h2 {
            @media (min-width: 768px) {
                display: flex;
            justify-content: space-between;
            }
            
            font-size: 45px;
            font-weight: 700;
            
            .browse-services {
                background-color: #ffffff;
                margin-top: 0;
                margin-bottom: 30px;
                white-space: nowrap;

                &:hover {
                    background-color: #191919;
                    border: 1px solid #191919;
                    color: #ffffff;
                    
                    
                }  
            }
  
        }
    }

    .articles {
        display: flex;
        justify-content: space-evenly;
        @media (min-width: 1900px) {
            justify-content: space-between;
        }

        h4 {
            font-size: 22px;
            font-family: "DM Sans" , sans-serif;
            font-weight: 700;
            
        }
        
        p {
            margin-top: 30px;
        }

        .artice1 {
            margin-top: 20px;
            @media (min-width: 992px) {
               margin-top: 0;
            }
            width: 420px;
        }
        .artice2 {
            width: 420px;
            display: none;
            @media (min-width: 992px) {
                display: block;
            }
        }

        .artice3 {
            width: 420px;
            display: none;
            @media (min-width: 1400px) {
                display: block;
            }
        }



     
    }
    .dots {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 60px;

    }

}


.newsletter {
    

    @media (min-width: 768px) {
        display: block;
    }


   position: relative;
   background-color: #F0EFE9;
   padding-top: 80px;
   padding-bottom: 80px;
   z-index: 0;
 
   
    .background-wavy-lines {
        position: absolute;
        bottom: 50px; 
        right: 0;
        z-index: -1;
    }
  
    
    .container {

        @media (min-width: 768px) {
            display: flex;
        }
        
        justify-content: space-between;
        align-items: center;
        

        h2 {
            font-family: 'DM Sans', sans-serif;
            font-size: 45px;
            font-weight: 700;
        }
        
        form {

            input {
               
                color: #191919;
                text-decoration: none;
                padding: 15px 30px;
                font-weight: 600;
                font-size: 16px;
                border-radius: 25px;
                outline: none;
                border: 1px solid #1919191a;
                margin-right: 20px;

            }

        }
    }
}

.footer {

    position: relative;
    z-index: 0;

    background-color: #0E1021  ;
    padding-bottom: 20px;

    color: #ffffff;

    h3 {
        @media (max-width: 767px) {
        text-decoration: underline;
        margin-top: 20px;
        }
        
    }

    a {
                
                
        display: block;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: #ffffff;
        margin-bottom: 10px;

    

        &:hover {
            text-decoration: underline;
            color: #DAD9D3;
        }      

    }

    .wavy-lines-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: transparent;
    }

    

    @media (min-width: 768px){
        display: flex;


        background-color: #0E1021  ;
        padding-top: 100px;
        padding-bottom: 90px;
        position: relative;
        z-index: 0;
        border-bottom: 1px solid #444443;

        

        

        .footer-container {
            display: flex;
            justify-content: space-evenly;
            
            

 

            h3 {
                font-family: 'DM Sans', sans-serif;
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 40px;
                margin-top: 7px;
            }

            .crito {
                
                width: 40%;
                p {
                    margin-right: 20%;
                    margin-top: 30px;
                }
            }
        

            .company {
                
                width: 15%;
                margin-left: 20px;

            }

            .help {
                
                width: 15%;
                margin-left: 20px;

            }

            .resources {
                
                width: 15%;
                margin-left: 20px;
        
            }

            .link {
                
                width: 15%;
                margin-left: 20px;
                
            }
        }
    }     
}

.icons-and-copyright {
    background-color: #0E1021;
    color: #ffffff;
    
    .copyright {
        display: flex;
        justify-content: space-between;
        padding-top: 35px;
        padding-bottom: 15px;
    }

    a {
        color: #ffffff; 
    font-size: 1.3rem;
    margin-left: 10px;

    &:hover {
        color: #7c7c7c;
    }

    }
   
}


