@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  font-size: 18px;
  font-family: "Inter";
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .menu {
    display: block;
  }
}
header .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 8px;
  align-items: center;
}
@media (min-width: 1200px) {
  header .menu .top-menu {
    justify-content: space-between;
  }
}
header .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .menu .top-menu .contact-information {
    display: flex;
  }
}
header .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .menu .top-menu .contact-information .content-box i {
  font-size: 1.2em;
  margin-right: 5px;
}
header .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .menu .top-menu .social-media a:hover {
  color: #7c7c7c;
}
header .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .menu .main-menu nav a.active {
  font-weight: 500;
}
header .menu .main-menu nav a.active::after, header .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.paperz-collum .container {
  display: none;
}
@media (min-width: 992px) {
  .paperz-collum .container {
    display: block;
  }
  .paperz-collum .container .paperz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 76px;
    margin-bottom: 76px;
    color: #100f0f;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.fetures {
  border: 2px solid #F0EFE9;
}
@media (min-width: 992px) {
  .fetures {
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 30px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1450px) {
  .fetures {
    margin-right: 5%;
    margin-left: 5%;
  }
}
@media (min-width: 1750px) {
  .fetures {
    margin-right: 12%;
    margin-left: 12%;
  }
}
.fetures .features-grid {
  display: grid;
  grid-template-areas: "menu menu  header main " "menu menu  header main " "menu menu  footer right " "menu menu  footer right ";
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  border-spacing: 60px;
  display: none;
}
.fetures .features-grid .item1 {
  grid-area: header;
}
.fetures .features-grid .item2 {
  grid-area: menu;
}
.fetures .features-grid .item3 {
  grid-area: main;
}
.fetures .features-grid .item4 {
  grid-area: right;
}
.fetures .features-grid .item5 {
  grid-area: footer;
}
.fetures .features-grid .item6 {
  grid-area: button;
}
@media (min-width: 992px) {
  .fetures .features-grid {
    display: grid;
  }
}
.fetures .features-grid div {
  text-align: left;
  padding: 10px 0px;
  font-size: 30px;
}
.fetures .features-grid img {
  margin-bottom: 20px;
  margin-top: 20px;
}
.fetures .features-grid h2 {
  font-size: 22px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  padding-right: 50px;
}
.fetures .features-grid h4 {
  font-size: 16px;
  padding-right: 50px;
  font-weight: 300;
  margin-right: 30px;
}
.fetures .features-grid .item2 {
  padding-right: 20%;
}
.fetures .features-grid .item2 h4 {
  font-family: "Inter";
  font-size: 18px;
  color: #F94D1C;
  margin-bottom: 30px;
}
.fetures .features-grid .item2 h2 {
  font-size: 45px;
}
.fetures .features-grid .item2 button {
  margin-top: -30px;
  border: 1px solid #000000;
  margin-right: 40px;
}

.about-company .container {
  display: flex;
  margin-top: 110px;
}
.about-company .container .samantha {
  position: relative;
}
.about-company .container .samantha .samantha-blue {
  border: 1px solid black;
  width: 368px;
  height: 180px;
  left: -56px;
  top: -220px;
  position: relative;
  background-color: #BEEBFF;
}
.about-company .container .samantha .samantha-blue h3 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Dm Sans", sans-serif;
  margin-left: 25px;
}
.about-company .container .samantha .samantha-blue h3 .founder {
  color: #F94D1C;
}
.about-company .container .samantha .samantha-blue h4 {
  font-weight: 300;
  font-size: 16px;
  margin-left: 25px;
}
.about-company .container .about {
  margin-left: 200px;
}
.about-company .container .about h3 {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 400;
}
.about-company .container .about h2 {
  margin-top: 25px;
  font-size: 45px;
  font-weight: 700;
  font-family: "DM Sans" sans-serif;
}
.about-company .container .about h4 {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 300;
}
.about-company .container .about p {
  margin-top: 150px;
  display: inline-block;
}
.about-company .container .about .intro {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
}
.about-company .container .about .btn-round {
  margin-left: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #191919;
  width: 58px;
  height: 58px;
  text-align: center;
  padding: 16px;
}
.about-company .container .about .btn-round:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.our-services {
  background-color: #F0EFE9;
  padding: 120px;
  position: relative;
}
.our-services .headline .top-headline h3 {
  font-family: "Inter";
  font-size: 18px;
  color: #F94D1C;
  margin-bottom: 25px;
}
.our-services .headline .top-headline h2 {
  margin-top: 25px;
  font-size: 45px;
  font-weight: 700;
  font-family: "DM Sans" sans-serif;
}
@media (min-width: 1550px) {
  .our-services .headline .top-headline h2 {
    margin-right: 60%;
  }
}
.our-services .headline .content-boxes {
  margin-top: 20px;
  gap: 30px;
}
@media (min-width: 1385px) {
  .our-services .headline .content-boxes {
    display: flex;
    margin-top: 20px;
    gap: 30px;
  }
}
.our-services .headline .content-boxes .circle-arrow {
  border: none;
  font-size: 45px;
  background-color: transparent;
}
@media (min-width: 1385px) {
  .our-services .headline .content-boxes .circle-arrow {
    margin-left: 80%;
    margin-top: 20px;
  }
}
.our-services .headline .content-boxes .circle-arrow:hover {
  background-color: transparent;
  border: none;
  color: #F0EFE9;
}
.our-services .headline .content-boxes .linje {
  border: 2px solid black;
  background-color: #000000;
  font-weight: 700;
  width: 15%;
}
.our-services .headline .content-boxes .business-box {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-width: 30px;
  margin-top: 20px;
}
.our-services .headline .content-boxes .business-box:hover {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-width: 30px;
  margin-top: 20px;
}
.our-services .headline .content-boxes .startup-box {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-width: 30px;
  margin-top: 20px;
}
.our-services .headline .content-boxes .startup-box:hover {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-width: 30px;
  margin-top: 20px;
}
.our-services .headline .content-boxes .financial-box {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-width: 30px;
  margin-top: 20px;
}
.our-services .headline .content-boxes .financial-box:hover {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-width: 30px;
  margin-top: 20px;
}
.our-services .headline .content-boxes .risk-box {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-width: 30px;
  margin-top: 20px;
}
.our-services .headline .content-boxes .risk-box:hover {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-width: 30px;
  margin-top: 20px;
}
.our-services .headline .browse {
  display: flex;
  justify-content: center;
}
.our-services .headline .browse .browse-services {
  align-items: center;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 35px;
  font-size: 16px;
  margin-top: 45px;
}
.our-services .headline .browse .browse-services i {
  margin-left: 10px;
}
.our-services .headline .browse .browse-services:hover {
  background-color: #191919;
  border: 1px solid #F9D783;
  color: #ffffff;
}
.our-services .headline .wavy-lines-middle {
  position: absolute;
  bottom: 50px;
  right: 0;
  bottom: 0;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 0;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 35px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .project-and-cases .project img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases .project h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases .project .readmore {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases .project .readmore i {
  margin-left: 3px;
}
.project-and-case .container .project-and-cases .project:hover .readmore {
  text-decoration: underline;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.newsletter {
  display: none;
  position: relative;
  background-color: #F0EFE9;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 0;
}
@media (min-width: 768px) {
  .newsletter {
    display: block;
  }
}
.newsletter .background-wavy-lines {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: -1;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.newsletter .container form input {
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgba(25, 25, 25, 0.1019607843);
  margin-right: 20px;
}